[submodule "thirdparty/GTree"]
	path = thirdparty/GTree
	url = https://github.com/TsinghuaDatabaseGroup/GTree
[submodule "thirdparty/metis"]
	path = thirdparty/metis
	url = https://github.com/AtlantixJJ/metis
[submodule "thirdparty/RoutingKit"]
	path = thirdparty/RoutingKit
	url = https://github.com/RoutingKit/RoutingKit.git
